# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\allan\OneDrive - Fiap-Faculdade de Informática e Administração Paulista\2TDST\Enterprise Application Development\Projetos\Exercicio-01-Introducao-JPA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
